<html>
<head>
<title>Innovision Challenge</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<style>
input.ng-invalid.ng-touched, select.ng-invalid.ng-touched{
border : 2px solid red;
}
hr { 
    display: block;
    margin-top: 0.5em;
    color:pink;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
input[disabled="disabled"]{
opacity : 0.4;
cursor : not-allowed !important;
}
</style>
  </head>
<body>
<div class="container-fluid">
<div class="row">
  <div class="col-sm-12">
  <center><h1>welcome to Innovision Student Portal</h1><br/></center>
</div>  
</div>
<br/>
<div class="row">
<div class="col-sm-2"><font style="color:Green;"><b>Username : {{s}}</b></font></div>
<div class="col-sm-8"></div>
<div class="col-sm-2">
<a ng-click="logout()" ><input type="button" class="btn btn-primary btn-sm" value="Logout"/></a>
</div>
</div>
<br/>
<hr/>
<div class="row">
  <div class="col-sm-6">
 <font style="color:Blue;"><b> Available courses : </b></font>
<form ng-submit="createMeetup()" name="pForm">
    <select name="gender" class="form-control" ng-model="gender" ng-options="x for x in Gender" ng-required="true"></select>
     <br/>
<center><input type="submit" class="btn btn-primary btn-sm" value="Enroll"/></center>
</form>
  </div>
  <div class="col-sm-6">
  <font style="color:Blue;"><b>Your Course :</b></font>

<div class="form-group" ng-repeat="x in datap track by $index" id="co">
<font style="color:Green;"><b>Course Name : </b></font><font style="color:brown;"><b>{{x.cname}}</b></font>
<br/>
<font style="color:Green;"><b>Course Description : </b></font><font style="color:brown;"><b>{{x.cdesc}}</b></font>
<br/>
<a ng-click="submit(x.cname)"><input type="button" class="btn btn-primary btn-sm" value="Complete"/></a>
</div>

  </div>
  </div>
 <div class="row">
  <div class="col-sm-12"> 
  <font style="color:Blue;"><b>Your Course Ranking :</b></font>

<div class="table-responsive">  
<table style="width:90%" align="center" class="table table-striped">
<tbody> 
<tr>
    <td width="50%">Course</td>
    <td width="50%">Rank</td>
</tr>
</div>
</tbody>
</table>
<div ng-repeat="x in datapr track by $index">
<div class="form-group">
<div class="table-responsive">  
<table style="width:90%" align="center" class="table table-striped">
<tbody>   
<tr>
<td width="50%">{{ x.course }}</td>
<td width="50%">{{ x.rank }}</td> 
</tr>
</div>
</tbody>
</table>
</div>
</div>
</div>
</div>
</body>
</html>